.link-basic {
    color: #24A3FF;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 30px;
    &__svg {
        vertical-align: middle;
    }
    &:hover &__svg {
        position: relative;
        transform: translateX(5px);
        transition-duration: 1s;
    }
}

