$medgrey: #CACADB; 
$lightgrey: #E7E7F2;
$coral: #F0145A;
$lightblue: #24A3FF;
$greytext: #B3B3BA; 
$blue: #24A3FF;    
$darkblue: #1C4280;
$darkgrey: #143646;
$orange: #FD9339;
$violet: #9E4DC3;      
$lightbeige: #E2E2E4;